<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Tutorials </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static',filename='styles/basic.css')}}">
    </head>
    <body>
      <center class="content">
        <h1> Tutorials </h1>
        {% for title, tutorial in tutorials %}
        <a href="/{{ title }}">
          <h3> {{ tutorial.title }} </h3>
        </a>
        <p> {{ tutorial.description }} </p>
        {% endfor %}
      </center>
     </body>
</html>
