<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title> {{ tutorial }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/basic.css')}}">
  </head>
  <body>
    <center class="content">
      <h1> Lessons in {{ tutorial }} </h1>
      {% for index,lesson in lessons %}
      <a href="/{{ tutorial }}/{{ index }}">
        <h3> {{ lesson.title }} </h3>
      </a>
       <p> {{ lesson. description }} </p>
       {% endfor %}
    </center>
  </body>
</html>
