<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title> {{ tutorial }} | {{ lesson }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles/monokai-sublime.css') }}">
    <script src="{{ url_for('static',filename='styles/highlight.pack.js') }}"></script>
    <script>
    code_elements = document.getElementsByTagName("code");
    for(let i = 0; i < code_elements.length;i++) {
      code_elements[i].style.classList.add("python");
    }
    </script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div class="content">
      {{ text | safe }}
    </div>
  </body>
</html>
