body {
  background-color: #2f3129;
  size:100%;
  color:white;
}

button {
  background-color: #272822;
  color: white;
  width:50%;
}
input {
  background-color: #272822;
  color:white;
  margin: 1%;
}
.content {
  background-color: #272822;
  padding: 0.5%;
  size:100%;
  color: white;
<<<<<<< HEAD
||||||| merged common ancestors
  font-size: 15;
=======
  font-size: 25;
>>>>>>> f541e5bb2f9cc8ad51207d479be0de6787b4cd32
}
code {
  color: #982eb3;
}
a {
  color: #AAAAAA;
}
