body {
  background-color: #2f3129;
  size:100%;
  color:white;
}

button {
  background-color: #272822;
  color: white;
  width:50%;
}
input {
  background-color: #272822;
  color:white;
  margin: 1%;
}
.content {
  background-color: #272822;
  padding: 0.5%;
  size:100%;
  color: white;
}

a {
  color: #AAAAAA;
}
